* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

:root {
  --card: #b0adad;
  --background: #e8e7e7;
  --border: #9c9c9c;
  --sidebar-background: #c0c0c0;
  --sidebar-foreground: #2b2b2b;
  --item-number-background: #d1cfcf;
  --item-number-foreground: #0d0d0d;
}

body {
  display: flex;
  border: 1px solid var(--border);
  height: 100vh;
}

aside {
  background-color: var(--sidebar-background);
  color: var(--sidebar-foreground);
  border-right: 1px solid var(--border);
  position: relative;
  display: flex;
  align-items: center; 
  flex-basis: 18rem;
}

.quantity-field {
  background-color: var(--card);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.quantity-label {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: medium;
}

.obj1-text {
  position: absolute;
  bottom: 0;
  left: 0;
  border: 1px solid var(--border);
  padding: 1.25rem;
}

main {
  flex: 1 1 0%;
  background-color: var(--background);
  padding: 1.75rem;
  overflow-y: scroll;
  max-height: 100vh;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.item-card {
  background-color: var(--card);
  padding: 0.75rem;
}

.item-number {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--item-number-background);
  color: var(--item-number-foreground);
  border: 1px solid var(--border);
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}